
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Index design */
.hero-section{
    background-color: coral;
    border-style: solid;
    border-color: black;
    border-width: thick;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    
}
.hero-section h1{
    font-style: italic;
    color: white;
}
.hero-section p{
    color: white;
    font-weight: bold;
}
.hero-section a{
    color: black;
    background-color: white;
}

.features-section{
    background-color: greenyellow;
    background-image: url('images/sports-tools.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 25px;
}
.bottom-section{
    background-color: coral;
    padding: 25px;
    border-style: solid;
    border-color: black;
    border-width: thick;
}

